body {
	width:80%;
	margin:0 auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color:black;
	background-color: #efefef;
	line-height: 1.5em;
}

#navbar-fixed {
	position:fixed;
	width:100%;
	top:0;
	left:0;
	font-size: 20px;
	line-height: 2em;
	background-color: white;
	padding-left:10%;
}

a {
	margin:25px 35px 25px 0;
	float:left;
	color:black;
	text-decoration: none;
}
a:hover {
	color:#79d279;
}

#content {
	margin-top:125px;
	clear:all;
}

h2 {
	text-align: center;
}

#displaylist {
	margin:25px 50px;
	color:#afafaf;
}

#button {
	margin:15px;
	font-size: 18px;
	background-color: #79d279;
	color:white;
}
#button:hover {
	background-color: white;
	color: #79d279;
}


/* search2 */
#descr {
	width:100px;
}
#searchlist {
	position: absolute;
	margin-left:20px;
	width:200px;
}
#personlist {
	
	width:100%;
}
#people {
	margin:-7px 0 0 139px;
	width:202px;
	position: absolute;
	
	overflow: hidden;
    z-index: 5;
}
.newPerson {
	border:1px #c3c0c0 solid;
    color: black;
    background-color: white;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    display:block;
    padding:5px;
}
.newPerson:hover {
	background-color: #c3c0c0;
	color:white;
}
