extends layout

block content

    h2 Search users

    form(name="searchUser", action="/result", method="post", autocomplete="off")
        div.input
            span.label Search name  
            input#searchlist(list="displayname", type="text", name="userinput")
            datalist#displayname
        div.actions
            input#button(type="submit", value="search")

    div#displaylist
