extends layout

block content

    h2 Search users

    form(name="searchUser", action="/result", method="post", autocomplete="off")
        div.input
            span.label Search name  
            input(list="displayname", type="text", name="userinput", id="searchfield")
            datalist#displayname
        div.actions
            input(type="submit", value="search")
        
    


        
