doctype html
html
    head
    body

    a(href='/') Show users
    p
    a(href='/create') Create users

    br
    br

    h2 Search users

    form(name="searchUser", action="/result", method="post")
        div.input
            span.label Search name  
            input(type="text", name="userinput")
        div.actions
            input(type="submit", value="search")