doctype html
html
    head
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
        script(src="ajax.js")
    body

    a(href='/') Show users
    p
    a(href='/create') Create users

    br
    br

    h2 Search users

    form(name="searchUser", action="/result", method="post")
        div.input
            span.label Search name  
            input(type="text", name="userinput", id="searchfield")
        div.actions
            input(type="submit", value="search")

    div#displaynames
    
        p#userName
